In [1]:
import pandas as pd
from pandas import DataFrame as DF

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

# Load Data

In [2]:
data = pd.read_csv("Data/Waveform_dataset.csv")

In [3]:
data.head()

,-0.23,-1.21,1.20,1.23,-0.10,0.12,2.49,1.19,1.34,0.58,...,-0.86,-0.70,0.51,0.34,-0.13,-0.87,0.56,-0.53,0.29,2
0,0.38,0.38,-0.31,-0.09,1.52,1.35,1.49,3.81,2.33,1.34,...,1.28,1.40,0.00,-0.18,0.71,0.04,0.91,-0.79,0.22,0
1,-0.69,1.00,1.08,1.48,2.44,3.39,3.09,4.08,5.48,3.61,...,0.29,1.12,0.60,0.28,2.17,0.18,-0.09,-1.33,1.00,1
2,0.40,0.68,0.27,1.39,1.03,-0.32,-1.23,-0.50,0.11,0.87,...,0.43,-0.30,-0.07,-0.99,-0.75,1.11,1.35,-1.63,0.10,0
3,-0.81,1.59,-0.69,1.16,4.22,4.98,4.52,2.54,5.60,4.66,...,0.62,0.14,1.33,-1.87,1.48,-0.02,-0.58,0.93,0.40,1
4,0.59,0.77,-0.61,1.00,1.80,2.08,2.16,3.59,4.08,3.63,...,1.23,-0.29,-1.62,0.19,-1.04,0.43,-1.82,-1.14,-0.23,1

In [4]:
x_data = data.iloc[:, :-1]
x_data

,-0.23,-1.21,1.20,1.23,-0.10,0.12,2.49,1.19,1.34,0.58,...,-0.63,-0.86,-0.70,0.51,0.34,-0.13,-0.87,0.56,-0.53,0.29
0,0.38,0.38,-0.31,-0.09,1.52,1.35,1.49,3.81,2.33,1.34,...,0.31,1.28,1.40,0.00,-0.18,0.71,0.04,0.91,-0.79,0.22
1,-0.69,1.00,1.08,1.48,2.44,3.39,3.09,4.08,5.48,3.61,...,0.93,0.29,1.12,0.60,0.28,2.17,0.18,-0.09,-1.33,1.00
2,0.40,0.68,0.27,1.39,1.03,-0.32,-1.23,-0.50,0.11,0.87,...,1.18,0.43,-0.30,-0.07,-0.99,-0.75,1.11,1.35,-1.63,0.10
3,-0.81,1.59,-0.69,1.16,4.22,4.98,4.52,2.54,5.60,4.66,...,-0.07,0.62,0.14,1.33,-1.87,1.48,-0.02,-0.58,0.93,0.40
4,0.59,0.77,-0.61,1.00,1.80,2.08,2.16,3.59,4.08,3.63,...,-0.15,1.23,-0.29,-1.62,0.19,-1.04,0.43,-1.82,-1.14,-0.23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,0.44,0.56,1.84,1.94,3.43,4.88,4.04,2.11,1.83,0.78,...,0.52,-2.56,-0.68,0.97,-0.78,-1.14,0.45,0.18,1.44,1.11
4995,1.18,-0.48,1.81,1.51,1.41,3.61,3.75,3.80,3.44,3.71,...,-0.41,0.37,-1.96,-1.19,-1.08,1.37,-1.02,0.71,-0.10,0.36
4996,0.64,0.81,-0.38,-0.88,1.55,0.10,0.42,-0.93,-0.70,1.54,...,0.49,1.61,-0.81,-1.35,-0.84,-0.64,1.19,-0.38,-0.70,-0.85
4997,0.18,1.65,1.91,2.07,4.28,3.61,4.46,4.62,4.80,0.25,...,0.17,-0.65,-0.73,0.89,-0.97,-1.30,-0.20,-0.63,-0.92,0.63
4998,2.05,-1.99,1.66,2.18,2.22,2.53,3.09,2.20,1.42,0.62,...,0.21,0.28,-0.77,1.39,0.51,0.24,-1.13,1.01,0.06,0.61

In [14]:
y_data = data.iloc[:, -1]
y_data

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

# Split the data

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, random_state= 308, test_size=0.25)

# Initiate model

In [23]:
rfc01 = RandomForestClassifier(random_state=35, verbose=1)

In [25]:
model01 = rfc01.fit(x_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

# Test model

In [29]:
model01.predict([x_test.iloc[4]])

B:\Software\Anaconda\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

array([5], dtype=int64)

In [31]:
test_prediction01 = model01.predict(x_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [33]:
print(classification_report(y_true= y_test, y_pred=test_prediction01))

              precision    recall  f1-score   support

           1       0.78      0.88      0.82        16
           2       0.94      0.74      0.83        23
           3       0.33      0.50      0.40         2
           5       0.75      0.75      0.75         4
           6       1.00      1.00      1.00         2
           7       0.67      0.86      0.75         7

    accuracy                           0.80        54
   macro avg       0.75      0.79      0.76        54
weighted avg       0.82      0.80      0.80        54