In [3]:
import pandas as pd
from pandas import DataFrame as DF

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

# Load Data

In [11]:
data = pd.read_csv("Data/glass_data.csv")
data = data.drop(columns=['Id'])

In [12]:
data.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [13]:
x_data = data.iloc[:, :-1]
x_data

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

In [14]:
y_data = data.iloc[:, -1]
y_data

0      1
1      1
2      1
3      1
4      1
      ..
209    7
210    7
211    7
212    7
213    7
Name: Type, Length: 214, dtype: int64

# Split the data

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, random_state= 308, test_size=0.25)

# Initiate model

In [23]:
rfc01 = RandomForestClassifier(random_state=35, verbose=1)

In [25]:
model01 = rfc01.fit(x_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

# Test model

In [29]:
model01.predict([x_test.iloc[4]])

B:\Software\Anaconda\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

array([5], dtype=int64)

In [31]:
test_prediction01 = model01.predict(x_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

In [33]:
print(classification_report(y_true= y_test, y_pred=test_prediction01))

              precision    recall  f1-score   support

           1       0.78      0.88      0.82        16
           2       0.94      0.74      0.83        23
           3       0.33      0.50      0.40         2
           5       0.75      0.75      0.75         4
           6       1.00      1.00      1.00         2
           7       0.67      0.86      0.75         7

    accuracy                           0.80        54
   macro avg       0.75      0.79      0.76        54
weighted avg       0.82      0.80      0.80        54